<ion-header [translucent]="false">
  <ion-toolbar color="primary">
    <ion-title>
      Weather parameters
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <ion-spinner *ngIf="!loaded" class="ion-text-center"></ion-spinner>
          <canvas #chart1></canvas>
          <canvas #chart2></canvas>
          <canvas #chart3></canvas>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>