<ion-header [translucent]="false">
  <ion-toolbar color="primary">
    <ion-title>
      Weather station
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button color="secondary" (click)="navigateTo('/settings')">
        <ion-icon name="settings-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card (click)="navigateTo('/plots')">
    <ion-card-header>
      <ion-card-title>Visualize weather parameters</ion-card-title>
      <ion-card-subtitle>Analyze temprature, humidity and atmospheric pressure.</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <img src="https://media-manager.noticiasaominuto.com/1920/naom_5fa51b50ea7a2.jpg"
        alt="image of plots and a magnifing glass">
    </ion-card-content>
  </ion-card>
  <ion-card (click)="navigateTo('/image')">
    <ion-card-header>
      <ion-card-title>Analyze weather conditions</ion-card-title>
      <ion-card-subtitle>Analyze weather conditions based on an image.</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <img src="https://g1.nh.ee/images/pix/bfaff5b0ffbd1560a4-82503259.jpg"
        alt="image of the sky">
    </ion-card-content>
  </ion-card>
</ion-content>